body {
  padding-top: 5rem;
}

p {
	margin: 0;
}

.react-terminal a {
  color: white;
  text-decoration: underline;
}

x-nav {
  display: block;
  height: 54px;
  min-width: 510px;
}
x-nav a {
  margin-left: 3px;
}

iframe {
  display: none;
  width: 100%;
  border: 0;
}

.container {
  padding: 0;
}

.react-terminal-wrapper {
  width: 100%;
  background: rgb(37, 42, 51);
  color: rgb(238, 238, 238);
  font-size: 18px;
  font-family: "Fira Mono", Consolas, Menlo, Monaco, "Courier New", Courier, monospace;
  border-radius: 4px;
  padding: 75px 45px 35px;
  position: relative;
  box-sizing: border-box;
  min-width: 510px;
}

.react-terminal {
  height: 600px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  min-width: 420px;
}

.react-terminal-window-buttons {
  position: absolute;
  top: 15px;
  left: 15px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.react-terminal-window-buttons button {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 0px;
}

.react-terminal-window-buttons button.clickable {
  cursor: pointer;
}

.react-terminal-window-buttons button.red-btn {
  background: rgb(217, 81, 93);
}

.react-terminal-window-buttons button.yellow-btn {
  background: rgb(244, 192, 37);
}

.react-terminal-window-buttons button.green-btn {
  background: rgb(62, 201, 48);
}

.react-terminal-wrapper::after {
  content: attr(data-terminal-name);
  position: absolute;
  color: rgb(162, 162, 162);
  top: 5px;
  left: 0px;
  width: 100%;
  text-align: center;
  pointer-events: none;
}

.react-terminal-line {
  white-space: pre;
}

.react-terminal-line::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  color: rgb(162, 162, 162);
}
